.container{
    width: 74vw;
    height: 45vh;
    opacity: 0.9;
    display: flex;
    color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 1px white;
}

.left{
    min-width: 13rem;
    width: 20vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 3px solid black;
    border-radius: 15px;
}

.IMG{
    margin-top: 0.5rem;
    width: 7rem;
    height: 7rem;
}

.types{
    position: absolute;
    right: 9px;
    bottom: 6px;
}

.right{
    width: calc(74vw - 20vw);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.right > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}