.container{
    background-color: var(--color-search);
    border: 1px solid rgb(0, 0, 0);
    width: 12rem;
    height: 2rem;
    border-radius: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input{
    position: absolute;
    width: 8rem;
    left: 0.5rem;
    background: none;
    border: none;
    outline: none;
    color: white;
}

#btnSubmit{
    height: 1.5rem;
    position: absolute;
    right: 0.5rem;
    border-radius: 999px;
    cursor: pointer;
    background: none;
    border: none;
}
#IMG{
    width: 1.5rem;
}