.body{
    height: calc(100vh - 2.5rem);
    background: var(--background);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body option{
    background-color: black;
    color: white;
}
.form{
    position: relative;
    margin-top: 1rem;
    background-color: rgb(40 38 38);
    opacity: 0.95;
    color: white;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.rowOne{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}

.rowTwo{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.selectTypes{
    height: 1.3rem;
    width: 4.5rem;
    outline: none;
}

.inputNameAndTypes{
    width: 4.5rem;
}

.inputGnral{
    width: 3.5rem;
}

#btnAddTypes{
    height: 1.3rem;
    background: rgba(0, 0, 0, 0.788);
    cursor: pointer;
    border: 1px solid rgba(233, 0, 0, 0.384);
    border-radius: 1px;
    color: white;
    outline: none;
}

#btnAddTypes:hover{
    background: rgba(211, 16, 16, 0.39);
}

#btnSubmit{
    position: absolute;
    cursor: pointer;
    right: 1rem;
    bottom: 1rem;
    background: rgb(167, 161, 161);
    border: 1px solid rgba(255, 255, 255, 0.384);
    border-radius: 1px;
    color: black;
    outline: none;
}
#btnSubmit:hover{
    background: rgba(0, 0, 0, 0.788);
    border: 1px solid rgba(233, 0, 0, 0.384);
    color: white;
}

.rowThree{
    width: 13rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#NameOfPoke{
    position: absolute;
    top: 20%;
}
#imgPoke{
    width: 6.5rem;
}

#containerOfTypes{
    position: absolute;
    display: flex;
    bottom: 7rem;
}

.inputSelectIMG{
    position: absolute;
    width: 4.7rem;
    outline: none;
    bottom: 36%;
    right: 0;
}